# CreativeModeTabs fields
public net.minecraft.world.item.CreativeModeTabs BUILDING_BLOCKS
public net.minecraft.world.item.CreativeModeTabs COLORED_BLOCKS
public net.minecraft.world.item.CreativeModeTabs COMBAT
public net.minecraft.world.item.CreativeModeTabs FOOD_AND_DRINKS
public net.minecraft.world.item.CreativeModeTabs FUNCTIONAL_BLOCKS
public net.minecraft.world.item.CreativeModeTabs HOTBAR
public net.minecraft.world.item.CreativeModeTabs INGREDIENTS
public net.minecraft.world.item.CreativeModeTabs INVENTORY
public net.minecraft.world.item.CreativeModeTabs NATURAL_BLOCKS
public net.minecraft.world.item.CreativeModeTabs OP_BLOCKS
public net.minecraft.world.item.CreativeModeTabs REDSTONE_BLOCKS
public net.minecraft.world.item.CreativeModeTabs SEARCH
public net.minecraft.world.item.CreativeModeTabs SPAWN_EGGS
public net.minecraft.world.item.CreativeModeTabs TOOLS_AND_UTILITIES

# ModelLayers.registerArmorSet
public net.minecraft.client.model.geom.ModelLayers registerInnerArmor(Ljava/lang/String;)Lnet/minecraft/client/model/geom/ModelLayerLocation;
public net.minecraft.client.model.geom.ModelLayers registerOuterArmor(Ljava/lang/String;)Lnet/minecraft/client/model/geom/ModelLayerLocation;

# LayerDefinitions armor deformations
public net.minecraft.client.model.geom.LayerDefinitions INNER_ARMOR_DEFORMATION
public net.minecraft.client.model.geom.LayerDefinitions OUTER_ARMOR_DEFORMATION

# CreativeModeTab.Output inner class
public net.minecraft.world.item.CreativeModeTab$Output

# AbstractSkeleton.getStepSound
public net.minecraft.world.entity.monster.AbstractSkeleton getStepSound()Lnet/minecraft/sounds/SoundEvent;
public net.minecraft.world.entity.monster.Bogged getStepSound()Lnet/minecraft/sounds/SoundEvent;
public net.minecraft.world.entity.monster.Skeleton getStepSound()Lnet/minecraft/sounds/SoundEvent;
public net.minecraft.world.entity.monster.Stray getStepSound()Lnet/minecraft/sounds/SoundEvent;
public net.minecraft.world.entity.monster.WitherSkeleton getStepSound()Lnet/minecraft/sounds/SoundEvent;

# AbstractSkeleton goals
public net.minecraft.world.entity.monster.AbstractSkeleton bowGoal
public net.minecraft.world.entity.monster.AbstractSkeleton meleeGoal
public net.minecraft.world.entity.monster.AbstractSkeleton

# Raid RaiderType
public net.minecraft.world.entity.raid.Raid$RaiderType


public net.minecraft.world.entity.monster.ZombifiedPiglin playAngerSound()V
