# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
.cache
/common/src/main/resources/assets/smcm/sounds/mob/reclaimed/InventivetalentDev minecraft-assets 26.1.2 assets-minecraft_sounds_mob_zombie/
