# CreativeModeTabs fields
public net.minecraft.world.item.CreativeModeTabs BUILDING_BLOCKS
public net.minecraft.world.item.CreativeModeTabs COLORED_BLOCKS
public net.minecraft.world.item.CreativeModeTabs COMBAT
public net.minecraft.world.item.CreativeModeTabs FOOD_AND_DRINKS
public net.minecraft.world.item.CreativeModeTabs FUNCTIONAL_BLOCKS
public net.minecraft.world.item.CreativeModeTabs HOTBAR
public net.minecraft.world.item.CreativeModeTabs INGREDIENTS
public net.minecraft.world.item.CreativeModeTabs INVENTORY
public net.minecraft.world.item.CreativeModeTabs NATURAL_BLOCKS
public net.minecraft.world.item.CreativeModeTabs OP_BLOCKS
public net.minecraft.world.item.CreativeModeTabs REDSTONE_BLOCKS
public net.minecraft.world.item.CreativeModeTabs SEARCH
public net.minecraft.world.item.CreativeModeTabs SPAWN_EGGS
public net.minecraft.world.item.CreativeModeTabs TOOLS_AND_UTILITIES

# JigsawStructure poolAliases: accessible + mutable
public-f net.minecraft.world.level.levelgen.structure.structures.JigsawStructure poolAliases

# ModelLayers.registerArmorSet
public net.minecraft.client.model.geom.ModelLayers registerArmorSet(Ljava/lang/String;)Lnet/minecraft/client/renderer/entity/ArmorModelSet;

# LayerDefinitions armor deformations
public net.minecraft.client.model.geom.LayerDefinitions INNER_ARMOR_DEFORMATION
public net.minecraft.client.model.geom.LayerDefinitions OUTER_ARMOR_DEFORMATION

# CreativeModeTab.Output inner class
public net.minecraft.world.item.CreativeModeTab$Output

# AbstractSkeleton.getStepSound
public net.minecraft.world.entity.monster.skeleton.AbstractSkeleton getStepSound()Lnet/minecraft/sounds/SoundEvent;
public net.minecraft.world.entity.monster.skeleton.Bogged getStepSound()Lnet/minecraft/sounds/SoundEvent;
public net.minecraft.world.entity.monster.skeleton.Skeleton getStepSound()Lnet/minecraft/sounds/SoundEvent;
public net.minecraft.world.entity.monster.skeleton.Stray getStepSound()Lnet/minecraft/sounds/SoundEvent;
public net.minecraft.world.entity.monster.skeleton.WitherSkeleton getStepSound()Lnet/minecraft/sounds/SoundEvent;
public net.minecraft.world.entity.monster.skeleton.Parched getStepSound()Lnet/minecraft/sounds/SoundEvent;

# AbstractSkeleton goals
public net.minecraft.world.entity.monster.skeleton.AbstractSkeleton bowGoal
public net.minecraft.world.entity.monster.skeleton.AbstractSkeleton meleeGoal
public net.minecraft.world.entity.monster.skeleton.AbstractSkeleton

# LivingEntity jumpOutOfFluid
public net.minecraft.world.entity.LivingEntity jumpOutOfFluid(D)V